# 🤹 common-utils: Common Kotlin utilities made for my personal usage.
# Copyright (c) 2021-2022 Noel <cutie@floofy.dev>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
end_of_line = lf
ij_kotlin_allow_trailing_comma = false
ktlint_standard = enabled
ktlint_experimental = enabled
ktlint_code_style = official
ktlint_standard_no-unused-imports = enabled
ktlint_standard_no-unit-return = enabled
ktlint_function_signature_body_expression_wrapping = multiline
ktlint_standard_no-consecutive-blank-lines = enabled
ktlint_experimental_fun-keyword-spacing = enabled
ktlint_experimental_unnecessary-parentheses-before-trailing-lambda = enabled
ktlint_experimental_property-naming = disabled
ktlint_standard_colon-spacing = disabled
ktlint_standard_annotation-spacing = disabled
ktlint_standard_filename = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_argument-list-wrapping = disabled

[*.{json,yaml,yml,md}]
indent_size = 2
